.appear{
  display: block;
}

.hide{
  display: none;
}



.btn-duration{
  border-style: solid;
  border-color: #216ba5;
  border-radius: 8px;
  color: #216ba5;
  border-color: #216ba5;
  border-width: 5px;
}

.btn-container{
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -38px;


  #decrease{
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  #increment{
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
}

.form-picture{
  width: 40%;
  height: 350px;
}

.grid-booking{

    display: grid;
    grid-template-columns: 55% 45%;
     grid-template-areas:
       "left right"
}

.group-duration{
  h1{
    position: relative;
    top: -42px;
  }
}



.space-image-form-booking{
  // margin-top: 88px;
}


.image-booking-form{
  height: 600px;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.btn-booking-position{
  float: right;
  margin-right: 50px;

}

.btn-booking-back{
    grid-area: right;
    width: 20%;
    height: 38px;
    position: relative;
    opacity: 0.4;
    top: 74%;
    left: 20px;
}

.btn-booking-back:hover{
   opacity: 1;
   cursor: pointer;
}



.available-time{
  position: relative;
  top: -125px;
  left: 73%;
  box-sizing: border-box;
  border-style: solid;
  border-color: #310505;
  animation: mymove 0.4s infinite;
  animation-iteration-count: 4;
  cursor: pointer;
}

@keyframes mymove {
    0%   {transform: scale(1, 1);}
    100% {transform: scale(1.2, 1.2 );}
}

@media (max-width: 900px) {
  .grid-booking {
    display: inherit;
  }

  .w-75 {
    width: 95% !important;
  }

  .btn-booking-back{
    left: -130px;
  }
  .btn-booking-position{
    position: relative;
    top: -10px;
  }

}
