
.card-category {
  display: absolute;
  left: 0;
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.shape{
  position: absolute;
  margin-top: -130px;
  width: 100%;
}

.mobile-booking{
  margin-top: -60px;
  width: 100%;
}

// .iphone{
//   margin-top: -90px;
//   transform: rotate(12deg);
// }
