<div class="">
  <div class="">
    <div id="root" data-profiles="<%= @profiles.to_json %>"></div>
  </div>
</div>

<% content_for :after_js do %>
  <%= javascript_pack_tag "application" %>
<% end %>
