<%= simple_form_for current_user  , :url => {:action=>"create_code", :controller=>"registrations"} , html: { :onsubmit => "return confirm('Are you sure');"  } do |f| %>
    <%= f.input :phone, required: true %>
     <% if current_user.errors.any? %>
        <div class="errors-container">
          <ul>
            <% current_user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= f.button :submit, "create code" %>
<% end %>
