<div class="footer">
  <span class="background-footer"></span>
  <span class="background2-footer"></span>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
     <%= link_to "Create Profile",  new_profile_path() , class: "btn btn-success" %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> By Torrent Benoit
  </div>
</div>

