
.checkout{
  padding: 35px;
  label{
    width: 100%;
  }
}

#first-plan{
  position: relative;
  z-index: 1;
}

.rectengle9-background{
  background-color: #65c5f4;
  width: 350px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: skewY(-14deg);
  box-shadow: inset 0 0 0 2px #e6ebf1;
  opacity: 0.2;
  top: 42px;
  right: 9%;
}

.rectengle10-background{
  background-color: #709ce1;
  width: 250px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: skewY(-14deg);
  box-shadow: inset 0 0 0 2px #e6ebf1;
  opacity: 0.1;
  top: 100px;
  left: 54.5%;
}

.rectengle11-background{
  background-color: #65c5f4;
  width: 350px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: skewY(14deg);
  box-shadow: inset 0 0 0 2px #e6ebf1;
  opacity: 0.2;
  top: 340px;
  right: 0%;
}

.rectengle12-background{
  background-color: #65c5f4;
  width: 250px;
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: skewY(14deg);
  box-shadow: inset 0 0 0 2px #e6ebf1;
  opacity: 0.2;
  top: 388px;
  right: 0%;
}





input,
    .StripeElement {
      display: block;
      margin: 10px 0 20px 0;
      max-width: 500px;
      padding: 10px 14px;
      font-size: 1em;
      font-family: 'Source Code Pro', monospace;
      box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
      border: 0;
      outline: 0;
      border-radius: 4px;
      background: white;
      position: relative;
    }

    input::placeholder {
      color: #aab7c4;
    }

    input:focus,
    .StripeElement--focus {
      box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
      -webkit-transition: all 150ms ease;
      transition: all 150ms ease;
    }

    .StripeElement.IdealBankElement,
    .StripeElement.PaymentRequestButton {
      padding: 0;
    }
